torch==2.9.0
torchvision
torchaudio
torchcodec==0.8.1
transformers==4.57.1
transformers[torch]
trl==0.24.0
numpy==1.26.4
datasets==4.0.0
vector-quantize-pytorch
hydra-core==1.3.2
tensorboard
tensorboardX
crc32c # tensorboard speed up
huggingface_hub==0.34.4
flash-attn
torch-audiomentations
textgrid
bitsandbytes>=0.46.1
timm
muq
fairscale

# metrics
evaluate==0.4.6
nltk
rouge_score
# git+https://github.com/google-research/bleurt.git
bert_score
tf-keras
# qa-metrics # no-deps
scikit-learn==1.3.2

# multigpu
deepspeed==0.17.5

# serving
vllm==0.11.2
vllm[flashinfer]

# extra
isort
black
pre-commit

# download
wget
gdown

# jupyter
notebook
ipywidgets
ipywebrtc

# to chat with transformers
# rich
# transformers[serving]
